@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700;1000&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
}
a{
    text-decoration: none;
}
.imgC{
    background-image: url("Csebanner.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 350px;
    border-top: 7px solid #223C4F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
}
.imgC .heads{
    padding: 55px 0 0 0;
    font-size: 70px;
    color: white;
    font-weight:100 !important;
}
.imgC .home{
    padding: 10px;
    font-size: 15px;
    font-weight: 700 !important;
    color: white;
    position: relative;
    top: 10px;
}
.box{
    width: 200px;
    height: 130px;
    background-color: #223C4F;
    position: absolute;
    top: 0;
    left: 70px;
}
.btnt{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 0;
    font-family: 'Roboto Slab', serif;
}
.btn1{
    width: 200px;
    margin-top: 10px;
    height: 56px;
    background-color: #2C2C33AD;
    font-size: 21px !important;
    color: white;
    padding: 14.7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}
.btn2{
    color: white;
    width: 105px;
    background-color: #30BBE2B3;
    padding: 10px;
    position: relative;
    top: 115px;
    margin-top: 6px;
    font-size: 16px;
    align-self: flex-end;
}
.outbox{
    width: 308px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.inbox{
    font: 15px;
    font-family: "Roboto-Slab", sans-serif;
    background-color: #223C4F;
    height: 41px;
    padding: 11px;
    margin: 2px 0;
    box-sizing: border-box;
    color: white;
    letter-spacing: 3px;
}
.main{
    display: flex;
    flex-direction: row;
}
.about{
    margin: 0 100px;
    width: 850px;
    height: 300vh;
    position: relative;
}
.about h3{
    margin : 20px 0 ;
    font-family: 'Roboto Slab', serif;
    font-weight: 700px;
}
.programs{
    background-color: antiquewhite;
    width : 425px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 23px;
    margin-bottom: 100px;
}
.programs h4{
    font-family: cursive !important;
    color: #A52A2A;
    margin: 22.3px 0;
    text-align: center;
}
.branch{
    font-size: 17px;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px 20px 10px;
    width: 90%;
    text-align: center;
    color: white;
}
.photo{
    background: url("Avinash.jpeg");
    width: 340px;
    height: 300px;
    position: absolute;
    top: 65px;
    right: 5px;
    background-size: 350px 325px;
    background-position-y: center;
    display: flex;
    align-items: flex-end;
}
.hod{
    width: 100%;
    height: 60px;
    color: rgb(230, 227, 227);
    font-family: "Roboto-Slab" ,sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(48, 56, 60, 0.72);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about h4{
    font-family: "Roboto Slab", sans-serif;
    margin-top : 20px;
    font-size: 16.8px;
    font-weight: 700;
}
.about p{
    font-family: "Roboto Slab", sans-serif;
    margin: 20px 0;
    font-size: 16.8px;
    text-align: justify;
}
.boxa{
    width: 100vw;
    height:15px;
}
.boxb{
    padding: 40px 300px;
    background-color: #424B52;
    display: flex;
    flex-direction: row;
}
.boxc{
    display: flex;
    flex-direction: column;
    width: 235px;  
    margin-right: 70px;
}
.boxp{ 
    font-size: 13px; 
    color: #98999f;
    border-bottom: 0.5px solid #77787b;
    padding:3px;
}
.boxh{
    font-size:17px;
    font-weight: 1000;
    color:#D3D7DA;
    border-bottom: 0.5px solid #77787b;
    margin-bottom: 10px;
}
.sm{
    display: flex;
    flex-direction: row;
}