@media screen and (max-width:1300px) {
    .outbox{
        width: 250px;
        /* font-size: 13px !important; */
    }
    .about{
        width: 600px;
        margin: 0 50px;
    }
    .programs{
        width: 40vw;
    }
    .photo{
        width: 20vw;
        height: 20vw;
        background-size: 20vw 20vw;
        /* right:-50px; */
        left: 45vw;
        background-position: center;
    }
    .hod{
        font-size: 1vw;
    }
}
@media screen and (max-width:1000px) {
    .btnt{
        right: -160px;
    }
    .photo{
        right:-20px;
        background-position: center;
    }
}
@media screen and (max-width:600px) {
    .boxp{
        font-size: 7px;
    }
    .programs{
        left: -8vw;
    }
    .boxh{
        font-size: 10px!important;
    }
    .heada{
        font-size: 3vw!important;
    }
    .branch{
        font-size: 3vw;
    }
    .photo{
        left:37vw;
    }
    .inbox{
        font-size: 3.4vw!important;
        height: fit-content;
        margin: 0.5vw 0;
        padding: 0.7vw 0.7vw 0.7vw 1vw;
    }
    .about p,.about h4{
        font-size: small;
    }
    .about h3{
        font-size: medium;
    }
}