@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;400;700;1000&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "Roboto Slab", sans-serif;
}
a{
    text-decoration: none;
}
.imgC{
    background-image: url("img2.jpeg");
    background-size: 100% 100%;
    width: 100%;
    height: 24vw;
    border-top: 7px solid #223C4F;
    display: flex;
    text-shadow: 2px 2px 10px black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    position: relative;
    overflow: hidden;
}
.imgC .heads{
    padding: 10vw 0 0 0;
    font-size: 4.7vw;
    color: white;
    font-weight:100 !important;
    font-family: "Roboto Slab", sans-serif;
}
.imgC .home{
    padding: 10px;
    font-size: 1vw;
    font-weight: 700 !important;
    color: white;
    position: relative;
    top: 10px;
}
.slider{
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.slider img{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}
.slide{
    transition: 1s;
}
.box{
    width: 13vw;
    height: 8vw;
    background-color: #223C4F;
    position: absolute;
    top: 0;
    left: 5%;
}
.btnt{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10px;
    right: 0;
    font-family: 'Roboto Slab', serif;
}
.btn1{
    width: 200px;
    margin-top: 10px;
    height: 56px;
    background-color: #2C2C33AD;
    font-size: 21px !important;
    color: white;
    padding: 14.7px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    
}
.btn2{
    color: white;
    width: 7vw;
    background-color: #30BBE2B3;
    padding: 10px;
    position: relative;
    top: 115px;
    margin-top: 6px;
    font-size: 1.1vw;
    align-self: flex-end;
}
.outbox{
    width: 308px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.inbox{
    font-size: 1.2vw;
    font-family: "Roboto-Slab", sans-serif;
    background-color: #223C4F;
    height: 3vw;
    padding: 0.5vw 0.5vw 0.5vw 0.8vw;
    margin: 0.12vw 0;
    box-sizing: border-box;
    color: white;
    letter-spacing: 0.15vw;
    display: flex;
    align-items: center;
}
.main{
    display: flex;
    flex-direction: row;
}
.about{
    margin: 0 5vw;
    width: 56.66vw;
    min-height: 300vh;
    position: relative;
}
.about h3{
    font-size: 1.6vw;
    margin : 20px 0 ;
    font-family: 'Roboto Slab', serif;
    font-weight: 700px;
}
.programs{
    background-color: antiquewhite;
    width : 425px;
    padding: 0.6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 23px;
    margin-bottom: 100px;
}
.heada{
    font-family: cursive !important;
    color: #A52A2A;
    margin: 1.4vw 0;
    text-align: center;
    font-size: 1.2vw;
}
.branch{
    font-size: 1.2vw;
    font-family: "Roboto Slab", serif;
    text-decoration: none;
    padding: 0.6vw;
    margin: 0 0.3vw 0.6vw 0.3vw;
    width: 90%;
    text-align: center;
    color: white;
}
.photo{
    background: url("Avinash.jpeg");
    width: 340px;
    height: 300px;
    position: absolute;
    top: 65px;
    left: 34vw;
    background-size: 350px 325px;
    background-position-y: center;
    display: flex;
    align-items: flex-end;
}
.hod{
    width: 100%;
    height: 20%;
    color: rgb(230, 227, 227);
    font-family: "Roboto-Slab" ,sans-serif;
    font-size: 20px;
    font-weight: 700;
    background-color: rgba(48, 56, 60, 0.72);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about h4{
    font-family: "Roboto Slab", sans-serif;
    margin-top : 20px;
    font-size: 1.3vw;
    font-weight: 700;
}
.about p{
    font-family: "Roboto Slab", sans-serif;
    margin: 20px 0;
    font-size: 1.2vw;
    text-align: justify;
}
.boxa{
    width: 100vw;
    height:15px;
}
.boxb{
    padding: 40px;
    background-color: #424B52;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.boxc{
    display: flex;
    flex-direction: column;
    width: 235px;  
    margin-right: 5vw;
}
.boxp{ 
    font-size: 13px; 
    color: #98999f;
    border-bottom: 0.5px solid #77787b;
    padding:3px;
}
.boxh{
    font-size:17px;
    font-weight: 1000;
    color:#D3D7DA;
    border-bottom: 0.5px solid #77787b;
    margin-bottom: 10px;
}
.sm{
    display: flex;
    flex-direction: row;
}
.faculties{
    width: 56.66vw;
    height: 20vw;
    display: flex;
    flex-direction:row;
    position: relative;
    overflow: hidden;
}
.faculty{
    position: absolute;
    width: 100%!important;
    height: 20vw;
    color:white !important;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* background: rgba( 255, 255, 255, 0.1 ); */
    background :  linear-gradient(to left top, #3f3f3f, hsl(240, 3%, 82%));
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 0.5vw;
    transition:0.2s ease-in-out;
    animation: movefacultybox 1s ease 6 alternate ;
}
.f1{
    height: 80%;
    width: 25%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 100%;
    border-radius:0.5vw;
    background-image: url("Avinash.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120% 100%;
    border-radius:0.5vw;
}
.f2{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 3% 0 0 0 ;
    box-sizing: border-box;
    flex-direction: column;
}
.exp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1vw;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 0.1vw 0.2vw 0 rgba(222, 222, 228, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 0.2vw;
}
.box1{
    font-size: 1.3vw;
    display: flex;
    justify-content: center;
}
.box2{
    display: flex;
    flex-direction: row;
}
.box3{
    font-size: 1vw;
    padding: 0 1vw;
    margin: 0.5vw 1vw;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 1px 2px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 0.1vw;
}
.name{
    align-self: flex-start;
    font-size: 2vw;
    border-bottom: 0.1px solid #77787b;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-start;
    margin: 1vw 0 0 1vw;
}
.info div{
    font-size: 0.9vw;
}
.more{
    font-size: 1.3vw;
    color: white;
    width: 5vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 2vw 0 1vw;
    box-shadow: 0 0.1vw 0.2vw rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 0.1vw;
    background: rgba( 255, 255, 255, 0.1 );
}
.p2{
     background-image: url("pardhi.jpeg");
    background-size: 100% 110%;
}
.p3{
    background-image: url("naidu.jpeg");
    background-size: 120% 100%;
}
.p4{
    background-image: url("heena.jpeg");
    background-size: 100% 100%;
}
.p5{
    background-image: url("Shweta.jpeg");
    background-size: 100% 100%;
}
.p6{
    background-image: url("zade.jpeg");
    background-size: 104% 104%;
}
.btns{
    height: 5vw;
    width: 2vw;
    background-color: rgba(255, 255, 255,0.5);
    position: absolute;
    top:7.5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.buttonPrev{
    left: 0vw;
}
.buttonNext{
    right: 0vw;
}